.container {
    /* border: 1px solid red; */
    position: relative;
    padding-bottom: 60px;
  }
  
  .scrollable-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .button-style {
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    background: white;
    border: 1px solid #ccc;
    border-radius: 30px;
  }